<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_prefix }}/static/swagger-editor.css" />
    </head>
    <body>
        <div id="swagger-editor"></div>
        <script>
      const staticBaseUrl = '{{ url_prefix }}/static/';
      window.MonacoEnvironment = {
        baseUrl: `${staticBaseUrl}umd/`,
      };
        </script>
        <script src="{{ url_prefix }}/static/react.production.min.js"></script>
        <script src="{{ url_prefix }}/static/react-dom.production.min.js"></script>
        <script src="{{ url_prefix }}/static/umd/swagger-editor.js"></script>
        <script>
      const defaultEditorProps = {
        url: '{{ config_url }}',
      };

      const mountNode = document.querySelector('#swagger-editor');
      const createEditorElement = (props = defaultEditorProps) =>
        React.createElement(SwaggerEditor, props);

      if (ReactDOM.createRoot) {
        const editorRoot = ReactDOM.createRoot(mountNode);
        editorRoot.render(createEditorElement());
        window.editor = {
          render(nextProps) {
            editorRoot.render(createEditorElement(nextProps || defaultEditorProps));
          },
        };
      } else {
        ReactDOM.render(createEditorElement(), mountNode);
        window.editor = {
          render(nextProps) {
            ReactDOM.render(createEditorElement(nextProps || defaultEditorProps), mountNode);
          },
        };
      }
        </script>
    </body>
</html>
